.plugin-name {display: none;}

.el-button--primary {
    background-color: #05201c !important;
    border-color: #05201c !important;
    color: #fff;
}

:root {
    --uip-border-color: #e5e5e5;
    --uip-color-primary: #05201c;
    --uip-color-primary-darker: #05201c;
    --uip-color-primary-lighter: #063f36;
    --uip-color-accent: #c5ede5;
    --uip-color-accent-darker: #b64b4b;
    --uip-color-accent-lighter: #d67e7e;
    --uip-color-green: #000000;
    --uip-color-green-darker: #67B5A3;
    --uip-color-green-lighter: #DAF4EE;
    --uip-color-orange: #ffffff;
    --uip-color-orange-darker: #000000;
    --uip-color-orange-lighter: #000000;
    --uip-color-red: #000000;
    --uip-color-red-darker: #000000;
    --uip-color-red-lighter: #000000;
    --uip-color-base-0: #fbfbfb;
    --uip-color-base-1: #fbfbfb;
    --uip-color-base-2: #fbfbfb;
    --uip-text-color-base: #02201c;
    --uip-text-color-emphasis: #000000;
    --uip-text-color-muted: #000000;
    --uip-text-color-inverse: #000000;
}
